ul#owners {
  margin: 0;
  padding: 0;

  input {
    display: inline-block;
  }

  li {
    list-style: none;
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;

    &.owner {
      margin: 0.5em 0.2em;

    }

    .label {
        padding: 1ex 1em 1ex 1em;
    }
  }
}
