<h1><%= gettext("Create new account") %></h1>
<p><%= gettext("Fill out the following form to register for Sportsgeist.") %></p>
<h2><%= gettext("Mandatory information") %></h2>
  <div class="bs-callout bs-callout-info">
    <p><%= gettext("The following information is requried to set up a Sportsgeist account for you.") %></p>
  </div>
<%= form_tag auth_path(@conn, :callback, "identity"), [method: "POST", novalidate: true, class: "form-horizontal" ] do %>
    <div class='form-group'>
        <label class='col-sm-2 control-label' for='email-input'><%= gettext("Email") %></label>
        <div class="col-sm-10">
            <input type='email' name='email' required class='form-control' />
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='forename-input'><%= gettext("Nickname") %></label>
        <div class="col-sm-10">
          <div class="checkbox">
          <label>
            <input name="use_nickname" type="checkbox" checked="checked"  onchange="toggleNickname(this.checked)"> <%= gettext("Use forename and surname as nickname") %>
          </label>
          </div>
        </div>
    </div>
    <div class='form-group'>
      <div class="col-sm-offset-2 col-sm-10">
          <input type="text" name='display_nickname' disabled="true" required="true" class='form-control' aria-describedby="helpNickname" onchange="updateRealNickname()"/>
          <input type="hidden" name="nickname" class="visible: false; display: none" />
      </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='forename-input'><%= gettext("Forename") %></label>
        <div class="col-sm-10">
            <input name='first_name' required class='form-control'  />
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='surname-input'><%= gettext("Surname") %></label>
        <div class="col-sm-10">
            <input name='last_name' required class='form-control' />
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='password-input'><%= gettext("Password") %></label>
        <div class="col-sm-10">
            <input type='password' name='password' required class='form-control' />
        </div>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='password-confirmation-input'><%= gettext("Password confirmation") %></label>
        <div class="col-sm-10">
            <input type='password' name='password_confirmation' required class='form-control' />
        </div>
    </div>

    <h2><%= gettext("Optional information") %></h2>
    <div class="bs-callout bs-callout-info">
      <p><%= gettext("You may provide the following information otpionally. If you agreed, this
        information could be used to contact and notify you on changes of your attended
        course sessions.") %></p>
    </div>

    <div class='form-group'>
        <label class='col-sm-2 control-label' for='phone-input'><%= gettext("Phone") %></label>
        <div class="col-sm-10">
            <input type='text' name='phone' required class='form-control' />
        </div>
    </div>

    <div class='form-group'>
      <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
          <label>
            <input name="is_phone_call_allowed" type="checkbox" checked="unchecked"><%= gettext("Allow use of this number by course organizer or Sportsgeist application") %>
          </label>
          </div>
      </div>
    </div>


    <div class='form-group'>
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class='btn btn-success'><%= gettext("Sign up") %></button>
            <%= link( gettext("Cancel"), to: auth_path(@conn, :login, "identity"), class: "btn btn-default") %>
        </div>
    </div>
<% end %>
