<h1><%= gettext("User profile of %{nickname}", nickname: @user.nickname) %></h1>
<h2><%= gettext("Change password") %> </h2>
<%= form_tag user_path(@conn, :change_password, @user.id), [method: "POST", novalidate: true, class: "form-horizontal" ] do %>
<div class='form-group'>
    <label class='col-sm-2 control-label' for='email-input'><%= gettext("Email") %></label>
    <div class="col-sm-10">
         <p class="form-control-static"><%= @user.email %></p>
    </div>
</div>

<div class='form-group'>
    <label class='col-sm-2 control-label' for='old_password-input'><%= gettext("Old password") %></label>
    <div class="col-sm-10">
        <input type='password' name='old_password' required class='form-control' />
    </div>
</div>

<div class='form-group'>
    <label class='col-sm-2 control-label' for='password-input'><%= gettext("Password") %></label>
    <div class="col-sm-10">
        <input type='password' name='password' required class='form-control' />
    </div>
</div>

<div class='form-group'>
    <label class='col-sm-2 control-label' for='password-confirmation-input'><%= gettext("Password confirmation") %></label>
    <div class="col-sm-10">
        <input type='password' name='password_confirmation' required class='form-control' />
    </div>
</div>

<div class='form-group'>
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class='btn btn-warning'><%= gettext("Change password") %></button>
    </div>
</div>
<% end %>

<h2><%= gettext("Change Profile Information") %></h2>
<%= form_tag user_path(@conn, :change_profile, @user.id), [method: "POST", novalidate: true, class: "form-horizontal" ] do %>

<div class='form-group'>
  <label class='col-sm-2 control-label' for='surname-input'><%= gettext("Nickname") %></label>
  <div class='col-sm-10'>
    <input type='text' name='nickname' required class='form-control' value='<%= @user.nickname %>' />
  </div>
</div>


<div class='form-group'>
  <label class='col-sm-2 control-label' for=''><%= gettext("Surname") %></label>
  <div class='col-sm-10'>
    <input type='text' name='last_name' required class='form-control' value='<%= @user.last_name %>' />
  </div>
</div>

<div class='form-group'>
  <label class='col-sm-2 control-label' for=''><%= gettext("Forename") %></label>
  <div class='col-sm-10'>
    <input type='text' name='first_name' required class='form-control' value='<%= @user.first_name %>'/>
  </div>
</div>

<div class='form-group'>
    <label class='col-sm-2 control-label' for='phone-input'><%= gettext("Phone") %></label>
    <div class="col-sm-10">
        <input type='text' name='phone' required class='form-control' value='<%= @user.phone %>' />
    </div>
</div>
<!--
<div class='form-group'>
  <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
      <label>
        <input name="is_phone_call_allowed" type="checkbox" checked="unchecked"><%= gettext("Allow use of this number by course organizer or Sportsgeist application") %>
      </label>
      </div>
  </div>
</div>
-->

<div class='form-group'>
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class='btn btn-warning'><%= gettext("Save") %></button>
    </div>
</div>
<% end %>
