<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sportsgeist</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" >
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link "-:||----||:- Sportsgeist", to: page_path(@conn, :index), class: "navbar-brand"%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <%= if @current_user do %>
                  <li class="<%= is_active(@conn, page_path(@conn, :index))%>"><%= link gettext("Home"), to: page_path(@conn, :index)%></li>
                  <li class="<%= is_active(@conn, ~r(#{course_path(@conn, :index)}) )%>"><%= link gettext("Courses"), to: course_path(@conn, :index) %></li>
                <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <%= if @current_user do %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.nickname %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><%= link gettext("Profile"), to: user_path(@conn, :show, @current_user.id) %></li>
                      <!-- li role="separator" class="divider"></li -->
                    </ul>
                  </li>
                  <li><%= button "Logout", to: auth_path(@conn, :logout), method: :delete, class: "btn btn-default navbar-btn" %></li>
                <% else %>
                  <li>
                    <%= if @conn.request_path != auth_path(@conn, :login, "identity") do %>
                      <%= button "Login", to: auth_path(@conn, :login, "identity"), method: "get", class: "btn btn-primary navbar-btn"%>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>

      <div class="container-fluid">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016, 2017 Michael Engelhardt.
          &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
          &middot; <a href="https://bitbucket.org/0x0me/sportsgeist" target="_blank"><span class="label label-default"><i class="fa fa-bitbucket-square" aria-hidden="true"></i> Bitbucket</span>
</a>
        </p>
      </footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.run()</script>
  </body>
</html>
