<div class='col-xs-12 col-md-6 col-md-offset-3'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= if @current_user do %>
        <%= gettext("Connect your account") %>
      <% else %>
        <%= gettext("Sign in") %>
      <% end %>
    </div>
    <div class='panel-body'>
      <%= if not Enum.member?(@current_auths, "identity") do %>
        <%= form_tag auth_path(@conn, :callback, "identity"), method: "post", class: "form-signin", novalidate: true do %>
          <div class='form-group'>
            <label class='control-label' for='email-input'><%= gettext("Username") %></label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon-username"><i class=" glyphicon glyphicon-user"></i></span>
              <input type='email' name='email' value='<%= @conn.params["email"] %>' required class="form-control" placeholder="me@example.com" aria-describedby="basic-addon-username">
            </div>
          </div>

          <div class='form-group'>
            <label class='control-label' for='password-input'><%= gettext("Password") %></label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon-password"><i class=" glyphicon glyphicon-lock"></i></span>
              <input class='form-control' type='password' name='password' required class="form-control" placeholder='<%= gettext("Password") %>' aria-describedby="basic-addon-password"/>
            </div>
          </div>

          <div class='form-group'>
            <button class='btn btn-lg btn-primary btn-block'><%= gettext("Sign in") %></button>
          </div>
          <div class='form-group'>
            <p>or <%= link gettext("Signup with your email"), to: user_path(@conn, :new) %></p>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
