<h1><%= gettext("Create a new course") %></h1>
<%= link gettext("New course"), to: course_path(@conn, :new), class: "btn btn-primary" %>

<h1><%= gettext("Listing courses") %></h1>
<table class="table">
  <%= for c <- @course do %>
    <tr>
      <td><b><%= c.name %></b> (<%= c.id %>)</td>
      <td><%= link "View", to: course_path(@conn, :show, c.id) %></td>
      <td><%= is_course_owner?(@current_user, c) %></td>
    </tr>
  <% end %>
</table>
