<%= if @mode === :edit do %>
<h1>Edit Course</h1>
<%  else %>
<h1>New Course</h1>
<% end %>
<%= form_for @changeset, action_for_mode(@conn, @mode, @changeset), fn f -> %>
<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p><%= gettext("Could not create course, please check the errors below") %></p>
    <ul>
      <%= for {attr, message} <- f.errors do %>
      <li><%= humanize(attr) %> <%= translate_error(message) %></li>
      <% end %>
  </div>
<% end %>


<div class="form-group">
  <%= label f, :name %>
  <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
</div>

<div class="form-group">
  <%= label f, :owners %>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul id="owners">
        <li id="owners-input"> <input class="awesomplete form-control" list="userlist" /><li>
      </ul>
  </div>
</div>

  <datalist id="userlist">
    <%= for %User{nickname: nickname, id: id} <- @users do %>
     <option value="<%= id %>"><%= nickname %></option>
    <% end %>
  </datalist>
</div>

<div class="form-group">
  <%= label f, :description %>
  <%= text_input f, :description, placeholder: "Description", class: "form-control" %>
</div>


<div class="form-group">
  <%= label f, :iteration %>
  <%= text_input f, :iteration, placeholder: "weekly@monday", class: "form-control" %>
</div>

<%= if @mode === :edit do %>
  <%= hidden_input f, :id %>
  <%= submit "Save Course", class: "btn btn-warning" %>
<%  else %>
  <%= submit "Create Course", class: "btn btn-primary" %>
<% end %>

<%= link "Back", to: course_path(@conn, :index), class: "btn btn-default" %>

<script>
window.onload = function() {
  // prevent that pressing enter on the owner selection triggers the submission
  // of the form.
  $('input.awesomplete').on("keydown", function(evt) {
    if(evt.keyCode == 13) {
      $('input.awesomplete').select();
      evt.preventDefault();
    }
  });
  // check if there are already some owners eg. returning from invalid changeset
  <%= if is_nil(Map.get(f.data, :owner)) do %>
    insertOwner('<%= @current_user.id %>' , '<%= @current_user.nickname %>');
  <% else %>
    <%= for %User{nickname: nickname, id: id} <- Map.get(f.data, :owner) do %>
      insertOwner('<%= id %>' , '<%= nickname %>');
    <% end %>
  <% end %>
};
</script>

<% end %>
