<div class="jumbotron" style="background: url('/images/<%= course_image() %>');  background-size:cover; ">
  <div class="container">
      <h1 style="color: gray; mix-blend-mode: difference;isolation: isolate;"><%= @course.name %></h1>
      <p>This session is organized by <b><%= owners(@course) %></b>.</p>
  </div>
</div>

<h1><%= @course.name %></h1>
<p>This session is organized by <b><%= owners(@course) %></b>.</p>
<p class="well"><%= @course.description %></p>
<%= link "Back", to: course_path(@conn, :index), class: "btn btn-primary" %>

<%= if is_course_owner?(@current_user, @course) do %>
  &nbsp;
  <%= link "Edit", to: course_path(@conn, :edit, @course.id), class: "btn btn-primary" %>
  &nbsp;
  <%= link "Delete", to: course_path(@conn, :index), class: "btn btn-primary" %>
<% end %>
