<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Sportsgeist" %></h2>
  <p class="lead">Erstelle Sportkurse, Trainingszeiten und verabrede Dich zum gemeinsamen Training.</p>
  <%= if @current_user do %>
  <h2><%=@current_user.nickname %></h2>
  <% end %>
</div>
